target
dist
terraform-provider-cockroachdb
.env
.vscode

.terraform/
.terraform.lock.hcl
terraform.tfstate*
*.tfvars
override.tf
*_override.tf
override.ft
*_override.ft
tfplan
tfplan.json

megalinter-reports
my-safe-directory
certs
cockroach-data
